@font-face {
    font-family: "RalewayBold";
    src: url("../Fonts/Raleway/Raleway-Bold.ttf") format("truetype");
}

.description_container{
    display: flex;
    width: 65%;    
    margin: 0 auto;
    padding-bottom: 5%;
}

.description h1{
    color: #223266;
}

h1{
    font-family: "RalewayBold", sans-serif;
}

.informatique_container{    
    background-color: #223266;
}

.informatique_description{
    width: 65%;    
    margin: 0 auto;    
    padding-bottom: 5%;
    padding-top: 5%;
    color: #fff;
}

.enseignement_description{
    width: 65%;    
    margin: 0 auto;    
    margin-bottom: 5%;
    margin-top: 5%;
}

.enseignement_description h1{    
    color: #223266;
}

.comm_et_media_container{
    background-color: #223266;
}

.comm_et_media_description{
    width: 65%;    
    margin: 0 auto;    
    margin-bottom: 5%;
    margin-top: 5%;
    color: #fff;
}

.metier_container{
    display: flex;
    flex-direction: column;
}